body
{
    background-color: rgb(48, 47, 47);
    padding: 0;
    margin: 0 auto;
    font-family: 'Gotham', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.body
{
    background-color: rgb(48, 47, 47);
}
.up-section
{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(44, 43, 43, 0.973);
    box-shadow: 0 0 5px black
}
.ul-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}
.li-2 
{
    padding: 8px 0;
    background-color: #2f3640;
    margin: 0;
    list-style-type: none;
}
.li-5 
{
    padding: 10px 15px 10px 15px;
    background-color: #2f3640;
    margin: 0;
    list-style-type: none;
    transition: 300ms;
}
.li-2:hover a
{
    color: black;
}
.linki4 > .li-5:hover 
{
    color: black;
    background-color: #fff;
    transition: 300ms;
}
.ul-1 > .li-1 > .ul-5 > .linki4:last-child > .li-5
{
    border-radius: 0 0 10px 10px;
}
.li-1
{
    font-size: 15px;
    list-style-type: none;
	transition: 200ms;
	appearance: auto;
}
.li-1:hover
{
    color: black;
}
.logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    position: relative;
}
.logo i
{
    font-size: 33px;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 10;
}
.logo-i i:hover
{
    color: bisque;
    transition: 300ms;
}
.ul-2
{
    padding: 0;
    text-align: center;
    position: absolute;
    display: none;
    transition-duration: 200ms;
	height: 0;
    width: 150px;
    padding: 5px 10px 5px 10px;
}
.ul-5
{
    padding: 0;
    text-align: center;
    position: absolute;
    display: none;
    transition-duration: 200ms;
	height: 0;
    width: 150px;
    padding: 5px 20px 5px 20px;
}
.ul-1 > .li-1:hover > .ul-2
{
    display: block;
    transform: translate(10px);
    transform: translateX(-12px);
	transition-duration: 300ms;
    animation-delay: 300ms;
}
.ul-1 > .li-1:hover > .ul-5
{
    display: block;
	transition-duration: 300ms;
    transform: translateX(-55px);
    animation-delay: 300ms;
}
.ul-1 > .li-1 > .ul-2 > .li-2
{
    transition: 300ms;
	position: relative;
}
.ul-1 > .li-1 > .ul-5 > .li-5
{
    transition: 300ms;
	position: relative;
}
.ul-1 > .li-1 > .ul-2 > .li-2:hover
{
    background-color: rgba(255, 255, 255, 0.877);
    transition: 200ms;
    cursor: pointer;
}
.ul-1 > .li-1 > .ul-5 > .li-5:hover
{
    background-color: rgba(255, 255, 255, 0.877);
    transition: 200ms;
    cursor: pointer;
}
.ul-1 > .li-1 > .ul-2 > .li-2:last-child
{
    border-radius: 0 0 10px 10px;
    transition: 200ms;
}
.ul-1 > .li-1 > .ul-5 > .li-5:last-child
{
    border-radius: 0 0 10px 10px;
    transition: 200ms;
}
.ul-1 > .li-1 > .ul-2 > .li-2:last-child:hover
{
    border-radius: 0 0 10px 10px;
    background-color: (255, 255, 255, 0.877);
    transition: 200ms;
}
.ul-1 > .li-1 > .ul-5 > .li-5:last-child:hover
{
    border-radius: 0 0 10px 10px;
    background-color: (255, 255, 255, 0.877);
    transition: 200ms;
}
.linki4
{
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
}
.advices
{
    margin-top: 20px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-size: cover;
    z-index: 100;
    box-shadow: 0px 0px 10px white;
}
.advices-p-1 
{
    margin-left: 25px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-top: 45px;
}
.advices-p
{
    margin-left: 80px;
    width: 500px;
}
.advices-p-2
{
    margin-left: 127px;
    width: 100vw;
    max-width: 1180px;
    margin-top: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}
a.linki8
{
    color: #00f7ff;
    transition: 200ms;
}
a.linki8:hover
{
    color: #39d9df;
    transition: 200ms;
}
.ol-7
{
    margin: 0;
}
.ol-13
{
    list-style-type: none;
    margin: auto;
}
.ol-13 .li-13
{
    color: white;
    font-size: 18px;
    padding: 25px 0 25px 0;
    width: 600px;
    text-align: center;
    border-top: 1px solid white;
}
.ol-13 .li-13:first-child
{
    border: none;
}
.ol-main
{
    color: white;
    font-size: 18px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 105px;
}
.li-7
{
    padding: 20px 0 15px 0;
}
.li-8
{
    list-style-type: none;
    padding: 20px 0 40px 0;
}
.li-9
{
    list-style-type: none;
    padding: 40px 0 40px 0;
}
.li-10
{
    list-style-type: none;
    padding: 20px 20px 55px 0;
}
.li-12
{
    padding: 30px 0 15px 0;
}
a.linki
{
    color: white;
    text-decoration: none;
    transition: 250ms;
    font-weight: 600;
    padding: 15px;
}
a.linki:hover
{
    color: rgba(255, 255, 255, 0.473);
}
a.linki i:first-child
{
    position: relative;
    right: 40vw;
    color: white;
    font-size: 50px;
}
a.linki2 i
{
    text-decoration: none;
    color: white;
    font-size: 23px;
    position: relative;
    left: 90px;
}
a.linki2 i:hover
{
    color: white;
}
a.linki2
{
    transition: 250ms;
    font-size: 15px;
}
a.linki2:hover
{
    transition: 250ms;
}
a.linki2 
{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 22px;
}
a.linki2 p
{
    font-size: 15px;
    margin: 7px 0 7px 0;
    font-weight: 600;
    padding: 15px;
}
a.linki3 i
{
    color: white;
    margin-top: 10.5vh;
    margin-left: 1vw;
    font-size: 25px;
}
a.linki3
{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
#linia
{
    border-bottom: 1px solid black;
    position: relative;
    top: 3.2vh;
    margin: 0;
}
.main
{
    width: 100%;
    margin-top: 80px;
}
.main-1
{
    width: 100%;
    margin-top: 75px;
}
form
{
    text-align: center; 
    margin: auto;

}
.label
{
    color: white;
    padding: 15px 0 15px 0;
    display: block;
}
input
{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 13px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.input-3
{
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    width: 500px;
}
.data
{
    display: flex;
    justify-content: space-between;
    width: 1010px;
    margin: auto;
    padding-top: 40px;
}
.checkbox
{
    width: 18px;
    height: 18px;
    position: relative;
    top: 10px;
}
.input-4
{
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    height: 50px;
    font-size: 14px;
    resize: vertical;
}
.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.search-4
{
    width: 38px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: gray;
    transition-duration: 200ms;
}
.search-4:hover
{
    background-color: rgb(156, 156, 156);
    transition-duration: 200ms;
}
.search i
{
    font-size: 15px;
    color: white;
    position: relative;
}
::-webkit-input-placeholder 
{
    color: #2f3640;
    opacity: 0.8;
    font-size: 13px;
}
input:focus
{
    outline: none;
}
textarea:focus
{
    outline: none; 
}
a.buttonsearch2
{
    position: relative;
    right: 35px;
}
a.buttonsearch2 i
{
    padding: 10px;
    color: black;
}
a.buttonsearch2
{
    text-decoration: none;
    color: white;
    display: inline-block;
}
.news
{
    height: 60vh;
    max-height: 90px;
    text-align: center;
    margin-bottom: 25px;
}
.news p
{
    padding: 5px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}
.news i
{
    color: white;
    font-size: 50px;
}
.first-letter
{
    color: red;
    font-weight: bold;
}
.h2 p
{
    display: inline;
}
.line
{
    border-top: 1px solid #FFF;
}
.list-1
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.list-2
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;;
}
.price-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -40px 45px 60px;
    padding: 20px 50px 20px 20px;
    position: relative;
    right: 9px;
}
.price-list-2
{
    width: 1200px;
    box-shadow: -40px 45px 60px;
    padding: 20px 50px 20px 20px;
    position: relative;
    right: 9px;
    display: flex;
}
.h1
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-3
{
    height: 60vh;
    max-height: 600px;
    margin-top: 30px;
}
.container-4
{
    display: flex;
    justify-content: space-around;
}
.container-5
{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -40px 45px 60px;
    padding: 20px 100px 20px 100px;
}
.container-6
{
    border-top: 2px dashed white;
    margin-top: 100px;
    padding: 20px 0 40px 0;
}
.information-contact
{
    margin-bottom: 40px;
    width: 450px;
}
.information-contact-2
{
    margin-top: 100px;
    margin-bottom: 40px;
    width: 600px;
}
.information-contact-3
{
    padding: 0;
    position: relative;
    left: 35px;
}
.h3-contact-2
{
    padding: 0px 0px 15px 10px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 20px white;
    margin: 0;
}
.h3-form
{
    text-shadow: 2px 2px 10px #2f3640;
}
.h1 p
{
    border-bottom: 1px solid white;
    padding: 20px;
    width: 300px;
    margin: 0;
}
.h3
{
    text-align: center;
    color: white;
    font-size: 21px;
    font-weight: bold;
    margin: 5px 0 5px 0;
    padding: 5px;
    text-shadow: 2px 2px 20px white;
}
.h3-contact
{
    color: #2f3640;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px #2f3640;
    position: relative;
    bottom: 10px;
}
.h4
{
    color: white;
    text-shadow: 2px 2px 20px white;
    padding: 10px;
}
.h4-contact
{
    color: white;
    padding: 5px 5px 5px 10px;
}
.h4-contact i
{
    font-size: 18px;
    padding: 0 15px 0 20px;
}
.ol-3
{
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 10px;
    padding-right: 55px;
    border-right: 2px solid white
}
.ol-4
{
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 10px;
}
.li-4
{
    color: white;
    font-size: 20px;
    padding: 5px;
    font-family: 'Roboto';
    width: 550px;
    position: relative;
    left: 60px;
}
.products
{  
    padding: 5px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./files/images/bgc24.jpg);
    background-size: cover;
}
.products1
{
    padding: 15px;
    position: relative;
    width: 180px;
    border-right: 1px dashed #FFF;
    text-align: center;
}
.products1:last-child
{
    border: none;
}
.products2
{
    padding: 15px;
    position: relative;
    width: 180px;
    text-align: center;
    border-top: 1px dashed #FFF;
    color: white;
    border-right: 1px dashed #FFF;
}
.products2 p
{
    border-bottom: 1px solid #fff;
    padding: 5px;
}
.products2:last-child
{
    border-right: none;
}
.products1 img
{
    width: 180px;
    padding: 1px;
    position: relative;
}
.products1 p
{
    color: white;
    border-bottom: 1px solid #fff;
    padding: 5px;
}
.mainproducts
{
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   width: 80vw;
   max-width: 1300px;
}
.mainproducts2
{
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   width: 80vw;
   max-width: 1300px;
}
.numberedlist
{
    width: 250px;
    position: relative;
}  
a.electronics
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 300ms;
    padding: 6px;
}
a.electronics:hover
{
    color: rgba(255, 255, 255, 0.473);
    transition: 300ms;
}
a.electronics1
{
    text-decoration: none;
    color: white;
    border-bottom: 2px double #FFFFFF;
    padding: 5px;
    cursor: default;
}
.ol-1
{
    list-style-type: none;
    position: relative;
    margin: 0;
}
.ol-1 > .li-3:first-child
{
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
}
.ol-1> .li-3
{
    padding: 5px;
    border: 1px solid rgba(206, 214, 224,1.0);
    border-radius: 8px;
    text-align: center;
    margin: 10px 0 10px 0;
}
.description
{
    padding: 20px 5px 5px 5px;
    margin: 25px 20px 0 20px;
    border-top: 2px dashed azure;
}
.description p
{
    color: white;
    text-align: center;
    font-size: 18px;
    list-style-type: disc;
    text-align: center;
}
h1
{
    margin: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 4px 6px white;
}
#container
{
    display: flex;
    justify-content: space-evenly;
    background-image: url(./files/images/bgc16.jpg);
    background-size: cover;
    height: 50vh;
    max-height: 400px;
    border-bottom: 4px solid white;
    overflow: auto;
    width: 100vw;
}
.contact
{
    margin: 30px;
    padding: 10px;
    width: 150px;
}
.contact2
{
    width: 295px;
    margin: 30px;
    padding: 10px;
    position: relative;
    left: 50px;
}
.contact2-inside
{
    margin-top: 4.5vh;
}
.input-2
{
    width: 236px;
    padding: 10px 5px 10px 10px;
    background-color: #2f3640;
    position: relative;
    bottom: 10px;
    color: white;
}
.contact3
{
    margin: 30px;
    width: 235px;
    padding: 10px;
    position: relative;
    left: 20px;
}
a.community2 
{
    text-decoration: none;
}
a.community2 p:hover
{
    transition: 300ms;
    color: black;
}
a.community2 p
{
    font-size: 18px;
    padding: 5px 5px 6px 0;
    font-weight: 600;
    color: #2f3640;
    transition: 300ms;
}
a.community2 i 
{
    margin-right: 10px;
    font-size: 20px;
}
a.community
{
    text-decoration: none;
}
a.community i
{
    margin-right: 10px;
}
a.community p
{
    transition: 300ms;
    color: #2f3640;;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 5px 5px 0;
}
a.community p:hover
{
    color: black;
    transition: 300ms;
}
h2
{
    color: white;
    padding: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 20px white;
}
h4
{
    color: #2f3640;
    text-shadow: 2px 2px 10px #2f3640;
    text-transform: uppercase;
}
option
{
    width: 50vw;
    max-width: 170px;
    background-color: #2f3640;
    color: white;
}
select
{
    padding: 5px;
    font-size: 14px;
    background-color: #2f3640;
    color: white;
    width: 50vw;
    max-width: 248px;
    opacity: 0.9;
}
select:focus
{
    outline: none;
}
.btn-send
{
    width: 251px;
    padding: 10px;
    border: none;
    background-color: #2f3640;
    color: #FFF;
    cursor: pointer;
    margin-top: 35px;
    border-radius: 8px;
    transition: 300ms;
}
.btn-send:hover
{
    background-color: rgba(94, 87, 87,1.0);
    transition: 300ms;
}
.btn-send-2
{
    width: 251px;
    padding: 10px;
    border: none;
    background-color: #202120;
    color: #FFF;
    cursor: pointer;
    margin-top: 35px;
    border-radius: 8px;
    transition: 300ms;
    font-size: 15px;
}
.btn-send-2:hover
{
    transition: 300ms;
    background-color: #484a48;
}
.new-li
{
    font-size: 30px;
}
.down-section
{
    color: white;
    width: 100%;
    overflow: auto;
    font-size: 18px;
    text-align: center;
}
.down-section p
{
    padding: 18px 9px 18px 9px;
}
.down-section-2
{
    color: white;
    width: 100%;
    overflow: auto;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 0px 10px white;
    margin-top: 100px;
}
.down-section-2 p
{
    padding: 18px 9px 18px 9px;
}
.down-section-3
{
    color: white;
    width: 100%;
    overflow: auto;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 0px 10px white;
}
.down-section-3 p
{
    padding: 18px 9px 18px 9px;
}
.down-section-4
{
    color: white;
    width: 100%;
    overflow: auto;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 0px 10px white;
    position: fixed;
    bottom: 0;
}
.down-section-4 p
{
    padding: 18px 9px 18px 9px;
}
.footer-2
{
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
    transition: 200ms;
}
.footer-2:hover
{
    transition: 200ms;
    color: rgb(233, 221, 221);
    cursor: pointer;
    border-color: rgb(233, 221, 221);
}
.footer-3
{
    font-weight: bold;
    font-style: italic;
    padding: 5px;
    margin: 0;
    width: 250px;
}
.footer-6
{
    font-weight: bold;
    font-style: italic;
    padding: 5px;
    margin: 0;
    width: 250px;
    text-decoration: line-through;
}
.ad
{
    margin-top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-4
{
    font-weight: bold;
}
.sup
{
    color: white;
    text-decoration: none;
    transition: 200ms;
}
.sup:hover
{
    transition: 200ms;
    color: rgb(94, 100, 100);
}

